# Banco de dados - mysql e pyodbc

### imports e config

In [2]:
import pyodbc
import pandas as pd

conexao = pyodbc.connect('DRIVER={Devart ODBC Driver for MySQL};User ID=admin;Password=1234;Server=localhost;Database=booking;')
cursor = conexao.cursor()

### Select

In [3]:
rents_df = pd.read_sql('select * from rents', conexao)
display(rents_df)

/tmp/ipykernel_19146/162869766.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  rents_df = pd.read_sql('select * from rents', conexao)

,id,user_id,house_id,initial_date,final_date,daily_price,cleaning_price,discount,created_at,updated_at
0,1,1,1,2022-08-23 14:00:00,2022-09-28 10:00:00,300.0,100.0,0.0,2022-08-24 00:19:57,2022-08-25 23:39:25
1,2,1,1,2019-04-02 15:25:37,2019-05-02 15:25:37,500.0,200.0,100.0,2022-08-25 19:56:46,2022-08-25 23:41:59
2,4,1,1,2023-04-02 15:25:37,2023-05-02 15:25:37,1000.0,400.0,3223.0,2022-08-27 00:20:00,2022-08-27 00:21:20
3,6,1,1,2023-08-28 14:00:00,2023-09-30 10:00:00,500.0,200.0,100.0,2022-08-30 18:57:19,2022-08-30 18:57:19
4,7,1,1,2022-10-27 14:00:00,2022-11-05 10:00:00,200.0,230.0,0.0,2022-08-30 19:05:33,2022-08-30 19:05:33
5,8,1,1,1997-10-27 14:00:00,2023-08-30 10:00:00,0.0,0.0,0.0,2022-08-30 19:05:55,2022-08-30 19:05:55